.MMM-EventSearch {
  display: inline-block;
  position: relative;
  width: 100%;
}

.MMM-EventSearch .eventTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.MMM-EventSearch .eventTable td {
  padding: 5px;
  border-bottom: 1px solid #555;
  vertical-align: top;
}

.MMM-EventSearch .eventDate {
  width: 30%;
  font-size: 16px;
  color: #fff;
  white-space: normal;
}

.MMM-EventSearch .eventTitle {
  width: auto;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.MMM-EventSearch .eventTitleLink,
.MMM-EventSearch .eventTitleLink:link,
.MMM-EventSearch .eventTitleLink:visited,
.MMM-EventSearch .eventTitleLink:hover,
.MMM-EventSearch .eventTitleLink:focus,
.MMM-EventSearch .eventTitleLink:active {
  color: #fff !important;
}

.MMM-EventSearch .eventTitleLink,
.MMM-EventSearch .eventTitleLink:link,
.MMM-EventSearch .eventTitleLink:visited {
  text-decoration: none;
}

.MMM-EventSearch .eventTitleLink:hover,
.MMM-EventSearch .eventTitleLink:focus,
.MMM-EventSearch .eventTitleLink:active {
  text-decoration: underline;
}

.MMM-EventSearch .eventImageCell {
  width: 100px;
  text-align: right;
}

.MMM-EventSearch .eventImage {
  display: block;
  width: 100px;
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}
